* {
    margin: auto;
    padding: 0;
}

body {
    background: black;
}

.top {
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(39, 39, 39);
    z-index: 30;
}

.nav {
    width: 600px;
    height: 60px;
    background-color: rgb(145, 0, 133);
    overflow: hidden;
    z-index: 30;
}

.nav ol {
    display: flex;
    list-style: none;
    position: relative;
}

.nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 60px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.animation {
    width: 0px;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffcc00;
    background-image: linear-gradient(90deg, #ff8000, #ffcc00);
    transition: all 0.4s;
}

li:nth-child(1):hover~.animation {
    width: 180px;
}

li:nth-child(2):hover~.animation {
    width: 180px;
    left: 210px;
}

li:nth-child(3):hover~.animation {
    width: 180px;
    left: 410px;
}